{% extends "internalbase.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block lcolumn %}

    {% for children in childrenpages %}
        {% with children=children.specific %}
            <p class="left-list-text uk-margin-small-top uk-margin-small-bottom">
                <a class="left-list-link" href="{% pageurl children %}">{{ children.title }}</a>
            </p>
            <p class="li-divider uk-margin-remove"></p>
        {% endwith %}
    {% endfor %}


{% endblock %}

{% block rcolumn %}

<div uk-grid>
        <div class="uk-width-1-1" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@s uk-flex uk-flex-center">
                <div class="uk-panel uk-cover-container">
                    {% image page.photo fill-450x600 class="uk-cover" %}
                </div>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s">
                <div>
                    <h3>{{ page.full_name }}</h3>
                    <div>{{ page.short_discription | richtext }}</div>
                    <div>{{ page.full_discription | richtext }}</div>
                </div>
            </div>
        </div>
</div>

<!-- Projects -->
{% with projects=page.people_projects.all %}
    {% if projects %}
        <div class="uk-section uk-section-default uk-section-xsmall">
            <h4>Участие в проектах</h4>
            <div class="uk-child-width-1-2" uk-grid>

                {% for project in projects %}
                <div>
                    <div class="uk-inline">

                            {% with project.main_image as main_image %}
                                {% if main_image %}
                                {% image main_image fill-500x330 %}
                            {% endif %}

                        <div class="uk-overlay uk-overlay-default uk-position-bottom  uk-flex uk-flex-middle uk-flex-center uk-text-center">
                            <a class="overlay-link" href="{% pageurl project %}">{{ project.title }}</a>
                        </div>
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}



{% endblock %}