{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<h3>{{ page.title }}</h3>

<!--    {% for block in page.body %}-->
<!--        {% if block.block_type == 'column' %}-->
<!--            <div class="column">-->
<!--                {% for col in block.value %}-->

<!--                    <div uk-grid>-->
<!--                        <div class="uk-width-1-4">-->
<!--                            <div>{{ col.left }}</div>-->
<!--                        </div>-->
<!--                        <div class="uk-width-3-4">-->
<!--                            <div>{{ col.right }}</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                {% endfor %}-->
<!--            </div>-->
<!--        {% else %}-->
<!--            (rendering for other block types)-->
<!--        {% endif %}-->
<!--    {% endfor %}-->




{% include_block page.body %}

{% endblock %}