{% extends "internalbase.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block lcolumn %}
<!-- MainContent Two column -->

            <!-- 8 last news -->
    {% for children in childrenpages %}
        {% with children=children.specific %}
            <p class="left-list-text uk-margin-small-top uk-margin-small-bottom">
                <a class="left-list-link" href="{% pageurl children %}">{{ children.title }}</a>
            </p>
            <p class="li-divider uk-margin-remove"></p>
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block rcolumn %}

            <!-- Right column post content and projects -->

                <div>
                    <h3>{{ page.title }}</h3>
                    <div class="uk-margin-medium-bottom uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 3:1; autoplay: true; autoplay-interval: 3000; pause-on-hover: true">
                        <ul class="uk-slideshow-items">
                            {% for item in page.gallery_images.all %}
                            <li>
                                {% image item.image fill-875x291 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" alt="{{ item.caption }}" uk-cover/>
                            </li>
                            {% endfor %}

                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-previous
                           uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                           uk-slideshow-item="next"></a>

                    </div>

                    {{ page.body|richtext }}
                    <p class="meta"><b>{{ page.date }}</b></p>

                </div>


{% endblock %}