{% extends "internalbase.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block lcolumn %}
<!-- MainContent Two column -->

            <!-- Left column post list -->
            <div >
                <h4>Сопутствующие материалы:</h4>
                {% for newspage in newspages %}
                <p class="left-list-text uk-margin-small-top uk-margin-small-bottom">
                    <a class="left-list-link" href="{% pageurl newspage %}">{{ newspage.title }}</a>
                </p>
                <p class="li-divider uk-margin-remove"></p>
                {% endfor %}
            </div>
{% endblock %}

{% block rcolumn %}

            <!-- Right column post content and projects -->

                <div>
                    <h3>{{ page.intro }}</h3>
                    <div class="uk-margin-medium-bottom uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 5:2">
                        <ul class="uk-slideshow-items">
                            {% for item in page.gallery_images.all %}
                            <li>
                                {% image item.image fill-875x350 as tmp_photo %}
                                <img src="{{ tmp_photo.url }}" alt="{{ item.caption }}" uk-cover/>
                            </li>
                            {% endfor %}

                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-previous
                           uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                           uk-slideshow-item="next"></a>

                    </div>

                    {{ page.body|richtext }}
                    <p class="meta"><b>{{ page.date }}</b></p>

                </div>


{% endblock %}