{% extends "base_en.html" %}
{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body_class %}template-newsindexpage{% endblock %}

{% block content %}
<div class="uk-section uk-section-default uk-section-xsmall">
    <div class="uk-container uk-container-large">
    <h3>{{ page.title }}</h3>

    <div class="intro">{{ page.intro|richtext }}</div>
        <div uk-filter="target: .js-filter">
                <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-margin>
                            <li class="uk-active" uk-filter-control><a href="#">ALL</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="uk-subnav uk-subnav-pill" uk-margin>
                            {% for tag in tags %}
                            <li uk-filter-control="[data-color*='{{ tag.id }}']"><a href="#">{{ tag.tag_name_en }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <ul class="js-filter uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true">

               {% for news in newspages %}
                    {% with news=news.specific %}
                    <li data-color="
                        {% for tag in news.news_tags.all %}
                            {{ tag.id }}
                        {% endfor %}
                        ">
                        <a href="{% pageurl news %}">
                            <div class="uk-card uk-card-small uk-card-default">
                                <div class="padding20 uk-card-media-top">{% image news.main_image  width-400 %}</div>
                                <div class="uk-card-body ms-blue">{{ news.title }}</div>
                            </div>
                        </a>
                    </li>

                {% endwith %}
            {% endfor %}


            </ul>
        </div>

    </div>
</div>

{% endblock %}