{% load menu_tags %}
{% if menu_items %}
	<div class="uk-navbar-dropdown" uk-dropdown="animation: slide-top; animate-out: true; duration: 500; offset: 5">
		<ul class="uk-nav uk-navbar-dropdown-nav">
		{% for item in menu_items %}
			<li>
				{% if item.text == "1" %}
					<a href="https://edu.dku.kz/">
						<span class="ws">Онлайн курсы</span>
					</a>
				{% elif item.text == "2" %}
					<a href="https://edu.dku.kz/">
						<span class="ws">Online courses</span>
					</a>
				{% elif item.text == "3ru" %}
					<a href="http://srkc.dku.kz/">
						<span class="ws">Конференция "Шелковый путь знаний"</span>
					</a>
				{% elif item.text == "3en" %}
					<a href="http://srkc.dku.kz/">
						<span class="ws">Conference “Silk Road of Knowledge” </span>
					</a>
				{% else %}
					<a href="{{ item.href }}">
						<span class="ws">{{ item.text }}</span>
						{% if item.has_children_in_menu %}
							<span uk-icon="icon: chevron-right"></span>
						{% endif %}
					</a>
					{% if item.has_children_in_menu %}
						{% sub_menu item %}
					{% endif %}
				{% endif %}
			</li>
			<li class="uk-nav-divider"></li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
