{% load menu_tags i18n wagtailcore_tags %}
<ul class="uk-navbar-nav uk-grid-small" uk-grid>

    <li><a href="/ru/" uk-icon="icon: home"></a></li>

{% for item in menu_items %}
    <li class="uk-width-auto@m uk-visible@l">
        <a href="{{ item.href }}">{{ item.text }}
            {% if item.has_children_in_menu %}
                <span uk-navbar-parent-icon></span>
            {% endif %}
        </a>
        {% if item.has_children_in_menu %}
        	{% sub_menu item %}
        {% endif %}

    </li>
{% endfor %}
    <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav-primary" href="#"></a></li>
    <li class="uk-flex uk-flex-middle">
        {% if page %}
            {% for translation in page.get_translations.live %}
                {% get_language_info for translation.locale.language_code as lang %}
                <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ lang.code }}" class="icon-button">
                    {{ lang.code }}
                </a>
            {% endfor %}
        {% endif %}

    </li>
    <li class="uk-flex uk-flex-middle"><a class="icon-button" href="/ru/search" uk-icon="icon: search"></a> </li>
</ul>
